@charset "utf-8";
/* CSS Document */
td.task_tital
{
	width: 240px !important;
	padding-right: 10px !important;
}
td.task_date
{
	width: 100px !important;
	padding-right: 10px !important;
}
td.task_priority
{
	width: 100px !important;
	padding-right: 10px !important;
}

td.task_company
{
	width: 180px !important;
	padding-right: 10px !important;
}
.ui-tabs .ui-tabs-nav li.ui-state-active{
	
	background: #5A5959;
}
.ui-igtrialwatermark
{
	display: none !important;
}